* text=auto eol=lf

/.agents export-ignore
/.claude export-ignore
/.github export-ignore
/docs export-ignore
/scripts export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.phpcs.xml.dist export-ignore
/AGENTS.md export-ignore
/CONTRIBUTING.md export-ignore
/Makefile export-ignore
/codecov.yml export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
